<template>
<div>
  <div class="spr-card">
    <div class="spr-card-header">
      Hulp nodig?
    </div>
    <div class="spr-card-content">
      <search></search>
    </div>
    <div class="spr-card-footer">
      Alle gestelde vragen ->
    </div>
  </div>
</div>
</template>
<script>
import Search from '~/components/Search.vue'

export default {
  components: {
    Search
  }
}
</script>
<style>
.spr-card{
  width: 420px;
  border: 1px lightgrey solid;
  min-height: 200px;
  border-radius: 8px;
  overflow: hidden;
}
.spr-card-content{
  min-height: 200px;
  padding: 16px;
}
.spr-card-header{
  border-bottom:1px lightgrey solid;
  background: darkblue;
  text-align: left;
  font-size: 22px;
  width: 100%;
  padding: 16px;
  color: white;
}
.spr-card-footer{
  border-top:1px lightgrey solid;
  text-align: left;
  font-size: 16px;
  width: 100%;
  padding: 16px;
  color: #3da3ff;
}
</style>
