<template>
  <div class="spr-search-wrapper">
<div class="spr-tags">



  <VueFuse style="width:100%; cursor:type" placeholder="Typ een woord hier..." :minMatchCharLength="2" :shouldSort="true" :threshold="0.3" :maxPatternLength="32" event-name="results" :list="faq" :keys="['name','description']" class="spr-tag spr-tag-light" />

<!-- <transition-group name="list-complete" tag="div"> -->
  <div v-for="faqitem in results.slice(0,lengthResults)" :key="faqitem.name" class="list-complete-item spr-tag spr-tag-dark">
    <!-- <div style="margin-bottom:8px;"><b>{{ faqitem.name }}</b></div> -->
    <div >{{ faqitem.name }}</div>

    <!-- <div>{{ faqitem.description.replace(/(\r\n|\n|\r)/gm,"").split(' ').filter(Boolean).slice(0,15).join(' ')}}...</div> -->
  </div>
  <!-- </transition-group> -->
  <a>

    <div v-if="results.length === 0" @click="loadMoreResults" class="spr-tag spr-tag-dark">
      <div>
        Er zijn helaas geen resultaten. Maar zie <u>alle vragen hier</u>.
      </div>

    </div>

  <div v-if="results.length>4 && lengthResults<6" @click="loadMoreResults" class="spr-tag spr-tag-dark">
    <div>
      Laad meer...
    </div>

  </div>
  <div v-if="lengthResults>5" class="spr-tag spr-tag-dark">
    <div>
      Voor meer resultaten ga naar...
    </div>
  </div>
</a>


  <!-- <div v-for="item in faq" class="spr-tag spr-tag-dark">
    {{item.name}}
  </div> -->
</div>
</div>
</template>
<script>
import VueFuse from 'vue-fuse'


export default {
  data() {
    return {
      lengthResults: 3,
      results: [],
      faq: [{
          name: `Wat wordt er bedoeld met een (heel) klein pensioen?`,
          description: `
    De pensioenwet gaat uit van twee soorten kleine pensioenen:

    Hele kleine pensioenen (tot maximaal 2 euro per jaar)
    Kleine pensioenen (van 2 tot 474,11 euro per jaar)
    `
        },
        {
          name: `Wat zijn de nieuwe regels voor (heel) kleine pensioenen?`,
          description: `
    Per 1 januari 2019 zijn nieuwe regels van kracht voor kleine pensioenen. Er zijn twee mogelijkheden:

    U heeft/had een of meerdere heel kleine pensioenen (van 2 euro of minder bruto per jaar). Dit is in veel gevallen per 1 januari 2019 komen te vervallen. Dat mogen pensioenuitvoerders doen op basis van de nieuwe regels. Er zijn pensioenuitvoerders die dit (nog) niet hebben laten vervallen. Heeft u hier vragen over? Neem dan contact op met de pensioenuitvoerder van uw heel kleine pensioen.
    U heeft/had een of meerdere kleine pensioenen (meer dan 2 euro en minder dan 474,11 euro bruto per jaar). Dit pensioen wordt niet meer afgekocht maar kan worden samengevoegd bij uw huidige pensioenuitvoerder. Kiest uw pensioenuitvoerder hier niet voor, dan blijven deze pensioenen staan waar ze staan (de pensioenuitvoerder van uw kleine pensioen).
    `
        },
        {
          name: `Wat gebeurt er met mijn kleine pensioen als ik nu geen pensioen opbouw?`,
          description: `
    Als u (tijdelijk) geen werkgever heeft of geen pensioen opbouwt (bv. door werkloosheid, vertrek naar het buitenland of eigen bedrijf) dan blijft het kleine pensioen (meer dan € 2 bruto per jaar en minder dan € 474,11 bruto per jaar) staan waar het staat. Na 5 jaar mag de pensioenuitvoerder (bijvoorbeeld het pensioenfonds of de verzekeraar) het kleine pensioen alsnog afkopen. Daarmee moet u wel instemmen. Zo niet, dan blijft het kleine pensioen staan waar het staat.

    `
        },
        {
          name: `Meer weten over (heel) kleine pensioenen?`,
          description: `
    Kijk hiervoor op de website van de Rijksoverheid of de brochure 'Nieuwe regels voor kleine pensioenen' van de Rijksoverheid.

    Mist u in uw overzicht een pensioen of heeft u inhoudelijke vragen? Neem dan contact op met de pensioenuitvoerder waar u dat pensioen heeft opgebouwd. Op Mijnpensioenoverzicht.nl vindt u de lijst met contactgegevens van de pensioenuitvoerders.

    Let op: Als u in het verleden de waarde van uw pensioen heeft overgedragen naar uw volgende pensioenuitvoerder (waardeoverdracht) of uw pensioen heeft afgekocht, bedenk dan dat er geen pensioen meer van u geregistreerd staat bij de oude pensioenuitvoerder.

    `
        },
        {
          name: `Wat is Mijnpensioenoverzicht.nl?`,
          description: `
    Mijnpensioenoverzicht.nl (MPO) is een informatieve website die een eerste overzicht biedt van uw AOW en uw pensioen via de werkgever(s).
    Mijnpensioenoverzicht.nl wordt verzorgd door de Stichting Pensioenregister. De Stichting Pensioenregister (SPR) is een samenwerkingsverband tussen de Sociale Verzekeringsbank, de Pensioenfederatie en het Verbond van Verzekeraars.
    De website Mijnpensioenoverzicht.nl werd in 2011 door de pensioensector gelanceerd om mensen beter inzicht te geven in hun pensioen.
    De site heeft een wettelijke grondslag. De overheid heeft enkele jaren geleden de pensioensector verplicht om burgers vanaf januari 2011 een overzicht te bieden van al hun pensioenaanspraken.
    `
        },
        {
          name: `Welke informatie vind ik op Mijnpensioenoverzicht.nl (MPO)?`,
          description: `
    Mijnpensioenoverzicht.nl (MPO) kunt u zien als de start voor overzicht en inzicht in uw pensioen. U vindt informatie over de AOW en uw pensioen via al uw werkgevers (oud en nieuw).
    U vindt antwoord op vragen als:
    Hoeveel AOW en pensioen heb ik opgebouwd?
    Wat is mijn te bereiken AOW en pensioen?
    Wat ontvangen mijn nabestaanden als ik overlijd?
    Welke gebeurtenissen in mijn leven zijn van invloed op mijn pensioen?
    Ging u op of na 1 januari 2018 met pensioen? Dan ziet u op Mijnpensioenoverzicht.nl hoeveel pensioen en AOW u ontvangt. Ging u eerder met pensioen? Mogelijk kunt u ook uw pensioenuitkering en AOW zien op Mijnpensioenoverzicht.nl. Dat is afhankelijk van de gegevens die uw pensioenuitvoerder aan ons doorgeeft.
    Daarnaast wijst Mijnpensioenoverzicht.nl de weg naar de pensioenuitvoerders voor meer inzicht en actie (bijv. voor het wijzigen van uw gegevens in het kader van een verandering in uw privé- of werksituatie).
    Let op! ANW, ANW-hiaat of ANW vervangende regelingen worden niet op Mijnpensioenoverzicht.nl getoond.
    `
        },
        {
          name: `Wat is een pensioenuitvoerder?`,
          description: `
    Een pensioenuitvoerder is een pensioenfonds, een pensioenverzekeraar of een premie-pensioeninstelling (PPI).

    `
        },
        {
          name: `Welke informatie vind ik niet op Mijnpensioenoverzicht.nl (MPO)?`,
          description: `
    Wat u zelf als aanvullend pensioen heeft geregeld (bv. lijfrentes of banksparen) ziet u niet op Mijnpensioenoverzicht.nl. Het Pensioenregister heeft geen toegang tot die informatie. Dit gaat in de toekomst wel veranderen.
    ANW, ANW-hiaat of ANW vervangende regelingen worden niet op Mijnpensioenoverzicht.nl getoond. Of u deze uitkering ontvangt, hangt af van persoonlijke factoren. Net als de hoogte van de uitkering. Denk bijvoorbeeld aan uw leeftijd, maar ook of u:
    een kind heeft;
    arbeidsongeschikt bent;
    andere inkomsten heeft.
    Dit soort gegevens zijn niet bij ons bekend.
    Als u in het verleden de waarde van uw pensioen heeft overgedragen naar uw volgende pensioenuitvoerder (waardeoverdracht) of uw pensioen heeft afgekocht, bedenk dan dat er geen pensioen meer van u geregistreerd staat bij de oude pensioenuitvoerder. U ziet deze pensioenuitvoerder dan ook niet meer terug in uw overzicht.
    Mijnpensioenoverzicht.nl is geen pensioenplanner. Veel pensioenuitvoerders bieden wel via hun ‘Mijn omgeving’ de mogelijkheid om met een planner te werken. Neem hiervoor contact op met uw pensioenuitvoerder(s). Er zijn online verschillende pensioenplanners te vinden. Via Pensioenkijker.nl vindt u een overzicht van bruikbare ‘tools’.
    Mijnpensioenoverzicht.nl biedt ook geen algemene pensioeninformatie en advies. Daarvoor kunt terecht bij Pensioenkijker.nl.
    `
        },
        {
          name: `Voor wie is Mijnpensioenoverzicht.nl?`,
          description: `
    Elke burger met een Nederlands BSN en een DigiD heeft toegang tot zijn/haar pensioen- en AOW gegevens.

    `
        },
        {
          name: `Wat kost toegang tot Mijnpensioenoverzicht.nl?`,
          description: `
    De website is onbeperkt kosteloos 24 uur per dag te raadplegen.

    `
        },
        {
          name: `Heb ik een pensioentekort?`,
          description: `
    Om te weten of u een pensioentekort heeft, moet u eerst weten hoeveel pensioen u nodig heeft. Dat hangt af van uw uitgaven en ook van uw toekomstplannen. Als u vast kunt stellen hoe hoog uw maandelijkse uitgaven zijn, weet u ook hoeveel pensioen u nodig heeft. Vervolgens kunt u nagaan of uw opgebouwde pensioen plus uw AOW voldoende zijn om van rond te komen.

    Meer informatie over de oorzaken van een mogelijk pensioentekort en de mogelijke oplossingen vindt u op Pensioenkijker.nl.

    `
        },
        {
          name: `Ik mis pensioenbedragen, wat moet ik doen?`,
          description: `
    Mist u in uw overzicht een pensioen? Neem dan contact op met de pensioenuitvoerder waar u dat pensioen heeft opgebouwd. De contactgegevens van de pensioenuitvoerders vindt u in de lijst van alle pensioenuitvoerders.

    Let op: Als u in het verleden de waarde van uw pensioen heeft overgedragen naar uw volgende pensioenuitvoerder (waardeoverdracht) of uw pensioen heeft afgekocht, bedenk dan dat er geen pensioen meer van u geregistreerd staat bij de oude pensioenuitvoerder.

    `
        },
        {
          name: `Waar kan ik achterhalen of ik nog ergens een pensioen heb?`,
          description: `
    Als u niet meer weet of en zo ja waar u in het verleden pensioen heeft opgebouwd, neemt u dan contact op met de servicedesk van Mijnpensioenoverzicht.nl.
    U kunt onze Servicedesk bereiken via telefoonnummer 020-7512870, via het e-mailadres info@mijnpensioenoverzicht.nl of via het postadres: Vergeten Pensioenen, Verrijn Stuartlaan 1F, 2288 EK Rijswijk.
    `
        },
        {
          name: `Welke informatie is er nodig om te achterhalen of ik nog ergens pensioen heb staan?`,
          description: `
    U kunt zich vast voorbereiden op uw gesprek met onze Servicedesk door informatie te verzamelen over de namen van de werkgevers waar u heeft gewerkt, in welk jaar u daar begon te werken en wanneer u daar stopte en hoe oud u toen zelf was.
    Waar u rekening mee moet houden is dat de kans bestaat dat u vroeger niet bij iedere werkgever pensioen heeft opgebouwd. De regels waren vroeger anders, mensen begonnen eerder met werken (bv. al vanaf hun 15e jaar) en gingen dan pas opbouwen vanaf hun 25ste (bij zware beroepen soms een paar jaar eerder), vrouwen bouwden vaak geen pensioen op en ook parttime werkenden vaak niet.
    Let op: Als u in het verleden de waarde van uw pensioen heeft overgedragen naar uw volgende pensioenuitvoerder (waardeoverdracht) of uw pensioen heeft afgekocht, bedenk dan dat er geen pensioen meer van u geregistreerd staat bij de oude pensioenuitvoerder.

    `
        },
        {
          name: `Mijn pensioenbedragen zijn niet juist, wat moet ik doen?`,
          description: `
    Als u van mening bent dat de getoonde bedragen op deze website niet juist zijn, neem dan contact op met de betreffende pensioenuitvoerder(s). De contactgegevens vindt u na inloggen via het tabblad ‘Mijn pensioenuitvoerders’.

    `
        },
        {
          name: `Worden alle pensioenen getoond?`,
          description: `
    De kwaliteit en volledigheid van de getoonde gegevens op deze website is de verantwoordelijkheid van de pensioenuitvoerders. Er bestaan situaties waarin het tonen van gegevens onmogelijk is. Zo zijn er Nederlanders die in het buitenland verblijven en niet in het bezit zijn van een DigiD en daarom geen toegang tot de website hebben. Ook kan het in een enkel geval zijn dat oude pensioenen ontbreken.

    Als u het gevoel heeft dat er pensioenen ontbreken, neem dan contact op met uw pensioenuitvoerder(s). U vindt een complete lijst met contactgegevens op deze website. Als u er zelf niet uitkomt, kunt u contact opnemen met de servicedesk van Mijnpensioenoverzicht.nl.

    `
        },
        {
          name: `Waar vind ik de gegevens over mijn partnerpensioen?`,
          description: `
    Heeft u partnerpensioen, dan ziet u dit via het tabblad Als mijn situatie verandert, onder de kop ‘Als ik overlijd’.

    `
        },
        {
          name: `Bouw ik pensioen op als zzp’er of ondernemer?`,
          description: `
    De AOW is een basispensioen van de overheid. Iedereen die de AOW-leeftijd heeft bereikt en in Nederland woont of heeft gewoond, heeft hier recht op. Naast het AOW-pensioen moet u als zelfstandig ondernemer zelf uw aanvullende pensioen regelen. Voor sommige bedrijfstakken en beroepen bestaat een verplichtgestelde pensioenregeling die ook voor zelfstandig ondernemers geldt. Is dit niet het geval, dan kunt u zelf een voorziening treffen. Daarvoor zijn verschillende oplossingen.

    Meer informatie over hoe u pensioen kunt opbouwen als zelfstandig ondernemer vindt u op Pensioenkijker.nl.

    Meer informatie over het AOW-pensioen en de voorwaarden waaraan u moet voldoen, vindt u op SVB.nl.

    `
        },
        {
          name: `Blijven mijn pensioenbedragen hetzelfde als mijn salaris verandert?`,
          description: `
    Het pensioen dat u kunt bereiken als u tot uw pensioendatum in dienst blijft, wijzigt als uw salaris verandert. Als u meer gaat verdienen, wordt het te bereiken pensioen hoger. Als u minder gaat verdienen wordt het te bereiken pensioen lager. Het pensioen dat u al opgebouwd heeft verandert meestal niet door een salariswijziging. Het wordt daardoor in elk geval niet lager.

    `
        },
        {
          name: `Blijven de pensioenbedragen gelijk?`,
          description: `
    De pensioenbedragen op het overzicht kunnen veranderen. Dat kan bijvoorbeeld doordat uw salaris wijzigt. De bedragen kunnen ook veranderen doordat het pensioen meestijgt met de stijging van de prijzen. Dan krijgt u een toeslag op uw pensioen. Toeslagen worden meestal alleen verleend als er voldoende geld beschikbaar is. Van uw pensioenuitvoerder(s) ontvangt u jaarlijks informatie over het al dan niet verlenen van een toeslag.

    `
        },
        {
          name: `Kan mijn pensioen ook lager worden?`,
          description: `
    Het pensioen dat u op uw pensioendatum kunt bereiken kan lager worden als uw salaris lager wordt of als de pensioenregeling wijzigt. Als uw pensioenfonds door de financiële crisis financieel in de problemen komt, kan in het uiterste geval uw opgebouwde pensioen worden verlaagd.

    Daarnaast is het binnen veel pensioenregelingen mogelijk om uw pensioen op verschillende manieren te laten uitkeren. Door eerder of later te stoppen met werken beïnvloedt u de hoogte van uw pensioen. Laat u door uw pensioenuitvoerder(s) tijdig goed informeren over de pensioenkeuzes die u heeft.

    Via het tabblad ‘Wat als mijn situatie verandert’ ziet u welke wijzigingen in uw privé- of werksituatie van invloed kunnen zijn op de hoogte van uw pensioen.

    `
        },
        {
          name: `Wat betekent 'te bereiken pensioen'?`,
          description: `
    Uw te bereiken pensioen is het pensioen dat u kunt verwachten als u met pensioen gaat. Het uitgangspunt is hierbij dat u tot aan uw pensioendatum pensioen op blijft bouwen. Uw te bereiken pensioen wordt berekend op basis van uw huidige salarisgegevens, uw huidige pensioenregeling(en) en de huidige wetgeving.

    `
        },
        {
          name: `Hoe wordt het bedrag van het indicatief pensioen dat ik op Mijnpensioenoverzicht.nl zie berekend?`,
          description: `
    Bij een indicatief pensioen bouwt u een pensioenkapitaal op waarmee u een uitkering koopt zodra u met pensioen gaat.
    De gegevens over uw indicatief pensioen op Mijnpensioenoverzicht.nl ontvangen wij van uw pensioenuitvoerder. Het zijn dezelfde gegevens als die u ziet op uw Uniform Pensioenoverzicht.
    Het bedrag van het indicatief pensioen dat u op Mijnpensioenoverzicht.nl ziet wordt door uw pensioenuitvoerder berekend op basis van de rentetarieven die gelden op de ‘peildatum’. De Pensioenfederatie bepaalt met welk rentepercentage de pensioenuitvoerders het indicatief pensioen moeten berekenen.
    De peildatum is de peildatum die ook op uw Uniform Pensioenoverzicht is gebruikt. Deze peildatum vindt u bij ‘stand per’ in het overzicht met uw pensioenuitvoerders en de bruto pensioenbedragen.
    De rentetarieven bewegen mee met de zogeheten ‘marktrente’. Ook is niet zeker hoe hoog het pensioenkapitaal is op uw pensioendatum. Hierdoor verandert de pensioenindicatie regelmatig.
    Is de peildatum die u ziet op Mijnpensioenoverzicht.nl al van een tijd geleden en wilt u een actuele indicatie van uw pensioen? Neem dan contact op met uw pensioenuitvoerder of zoek de informatie op via de Mijnomgeving van uw pensioenuitvoerder.
    `
        },
        {
          name: `Wanneer gaat mijn pensioen in?`,
          description: `
    De exacte ingangsdatum van uw pensioen staat op het pensioenoverzicht dat u van uw pensioenuitvoerder ontvangt. In veel pensioenregelingen heeft u de mogelijkheid uw pensioen eerder in te laten gaan of uit te stellen. Als u uw pensioen eerder in laat gaan wordt het pensioen lager, bij uitstel wordt het pensioen hoger. Lees hierover meer via het tabblad ‘Wat als mijn situatie verandert’ en kies dan voor ‘Eerder stoppen met werken of langer doorwerken’.

    `
        },
        {
          name: `Moet ik zelf mijn pensioen aanvragen?`,
          description: `
    Meestal ontvangt u enkele maanden voor uw pensioendatum een aanvraagformulier van uw pensioenuitvoerder. Heeft u geen aanvraagformulier ontvangen? Vraag dit dan aan bij uw pensioenuitvoerder(s).

    `
        },
        {
          name: `Kan ik mijn pensioen ook in het buitenland krijgen?`,
          description: `
    Ja, u kunt uw pensioen meestal ook in het buitenland krijgen. Raadpleeg daarvoor uw pensioenuitvoerder(s). Ook kunt u in het buitenland uw AOW-pensioen krijgen. Voor meer informatie over uw AOW in het buitenland kunt u de website van de Sociale Verzekeringsbank raadplegen.

    `
        },
        {
          name: `Hoe actueel zijn de gegevens op Mijnpensioenoverzicht.nl (MPO)?`,
          description: `
    Op de website ziet u de bedragen zoals ze door de pensioenuitvoerder(s) worden aangeleverd. De actualiteit daarvan is de verantwoordelijkheid van de pensioenuitvoerders In de overzichten ziet u aan de datum achter ‘stand per’ op welk moment deze gegevens zijn opgesteld.
    De informatie die MPO geeft over de bruto en netto bedragen aan AOW komt overeen met dat wat u ziet op 'Mijn SVB'. Deze gegevens worden dagelijks geactualiseerd.
    De pensioenuitvoerders zijn verplicht om de gegevens minimaal 3x per jaar te actualiseren. Sommige pensioenuitvoerders actualiseren hun gegevens vaker, maar dit geldt niet voor alle pensioenuitvoerders.
    Doordat er de laatste tijd zoveel is veranderd op het gebied van wet- en regelgeving, kan het zijn dat nog niet alle wijzigingen zijn doorgevoerd en zichtbaar zijn op Mijnpensioenoverzicht.nl
    Niet alleen de pensioenuitvoerders zijn verantwoordelijk voor de actualiteit van gegevens. Ook sociale partners, werkgevers en u als werknemer zelf spelen daarin een belangrijke rol:
    De pensioenregelingen moeten bij wetswijzigingen op tijd worden aangepast, hierin spelen sociale partners een belangrijke rol.
    Als er gegevens van werknemers wijzigen, moet dat op tijd door werkgevers worden doorgegeven.
    Als er iets verandert in uw privé- of werksituatie (bv. scheiding of ontslag), is het belangrijk dat u dat zelf ook op tijd doorgeeft aan uw pensioenuitvoerder(s).
    `
        },
        {
          name: `Kunnen pensioenuitvoerders niet vaker de gegevens actualiseren?`,
          description: `
    De pensioenuitvoerders zijn verplicht om de gegevens minimaal 3x per jaar te actualiseren. Sommige pensioenuitvoerders actualiseren hun gegevens vaker, maar dit geldt niet voor alle pensioenuitvoerders.
    In het kader van de nieuwe wet Pensioencommunicatie zijn er nieuwe afspraken gemaakt over het actualiseren van de gegevens op Mijnpensioenoverzicht.nl:
    Naast de eis dat de gegevens minstens 3x per jaar worden geactualiseerd is er afgesproken dat per 1 januari 2016 pensioenuitvoerders uiterlijk vier maanden na het verwerken van een zgn. ‘collectieve wijziging’ in de regeling de gegevens actualiseren.
    Uitzondering hierop is als er sprake is van het verlagen van pensioenen: dan moeten de wijzigingen binnen vier maanden nadat de verlaging is ingegaan te zien zijn.
    Met ingang van 1 juli 2017 geldt dat ook individuele wijzigingen (dus wijzigingen in uw persoonlijke situatie) vier maanden na verwerking door de pensioenuitvoerder(s) op Mijnpensioenoverzicht.nl te zien moeten zijn.
    `
        },
        {
          name: `Hoe betrouwbaar zijn de gegevens die ik op Mijnpensioenoverzicht.nl zie?`,
          description: `
    De informatie die MPO geeft over de bruto bedragen aan opgebouwd pensioen via werkgevers komt overeen met de informatie op het Uniform Pensioenoverzicht (UPO). Deze informatie is feitelijk juist (uitzonderingen daargelaten).
    De bruto bedragen van het ‘te bereiken pensioen' via werkgevers komen ook overeen ook met de bruto bedragen die u ziet op het UPO. Deze bedragen zijn echter berekend op basis van de gegevens die bij de pensioenuitvoerder(s) over u bekend zijn op de vermelde peildatum van de gegevens (stand per) én op basis van de regelgeving van dat moment.
    Deze bruto bedragen kunt u dus niet als 'feitelijk' en ‘definitief’ zien. Ze zijn ‘indicatief’, want er kan nog van alles veranderen. Het kan ook zo zijn dat bepaalde informatie nog niet is meegenomen in de laatste berekeningen.
    Zowel in het UPO als op Mijnpensioenoverzicht.nl wordt gewezen op het feit dat deze cijfers niet definitief zijn en nog kunnen veranderen (zie uw UPO, de gebruiksvoorwaarden op de website en de meldingen op MPO).
    Op Mijnpensioenoverzicht.nl presenteren we ook afgeronde netto bedragen als indicatie van het te bereiken pensioen per maand. Deze bedragen zijn schattingen en niet feitelijk. Ook dit geven we aan.
    De bruto en netto bedragen van ‘uw te bereiken pensioen’ die u op dit moment op Mijnpensioenoverzicht.nl ziet staan kunnen afwijken van de bedragen die u straks gaat ontvangen als u stopt met werken.
    `
        },
        {
          name: `Hoe worden de netto bedragen per maand berekend?`,
          description: `
    Mijnpensioenoverzicht.nl telt eerst alle bruto pensioenbedragen per jaar (AOW en werkgeverspensioen) bij elkaar op. U ziet dus alleen netto bedragen voor totaalbedragen en niet voor iedere pensioenuitvoerder apart.
    Vervolgens wordt er op basis van de tabellen voor inkomstenbelasting op het totaal aan bruto pensioenbedragen een berekening uitgevoerd.
    Er wordt algemene heffingskorting in de berekening toegepast.
    Er wordt daarbij rekening gehouden met de wettelijke AOW leeftijd.
    De inhouding voor de inkomensafhankelijke bijdrage voor de Zorgverzekeringswet wordt berekend.
    Hieruit volgt een netto bedrag per jaar dat vervolgens door 12 wordt gedeeld met als resultaat een netto bedrag per maand.
    Er is geen rekening gehouden met aftrekposten, toeslagen of inkomsten die u ontvangt naast uw pensioen.
    Er is ook geen rekening gehouden met de nominale premie Zorgverzekeringswet en uw eventuele premie voor de aanvullende verzekering die u aan uw zorgverzekeraar moet betalen. Deze kosten moet u dus nog aftrekken van het netto pensioenbedrag dat u ziet staan.
    `
        },
        {
          name: `Waar moet ik op letten als ik via Mijnpensioenoverzicht.nl mijn pensioengegevens bekijk?`,
          description: `
    Het kan zijn dat op Mijnpensioenoverzicht.nl niet de meest actuele gegevens worden gepresenteerd. Let u op de datum die staat vermeld bij ‘stand per’. Deze datum geeft aan wanneer de pensioenuitvoerder uw pensioengegevens heeft berekend.
    Houd er rekening mee dat Mijnpensioenoverzicht.nl een startpunt is voor overzicht en inzicht in uw pensioen. Het is goed om jaarlijks te bekijken hoe u er globaal voor staat.
    Staat u voor een belangrijke financiële beslissing, neem dan altijd contact op met uw pensioenuitvoerder(s) voor de laatste stand van zaken.
    Verandert er iets in uw privé- of werksituatie (bv. trouwen, ontslag, scheiding), dan is dit vaak van invloed op uw pensioen. Neem dan ook contact op met uw pensioenuitvoerder(s).
    `
        },
        {
          name: `Is het mogelijk voor gepensioneerden om de pensioenuitkering en AOW te bekijken op Mijnpensioenoverzicht.nl?`,
          description: `
    Ja, dat is mogelijk. Als u op of na 1 januari 2018 met pensioen bent gegaan, kunt u op Mijnpensioenoverzicht.nl uw AOW-pensioen en pensioenuitkering bekijken.
    Een aantal pensioenuitvoerders toont uw pensioenuitkering ook als u eerder dan 1 januari 2018 met pensioen bent gegaan.
    `
        },
        {
          name: `Waar kan ik terecht als ik geen informatie over mijn pensioenuitkering en AOW kan zien?`,
          description: `
    Ziet u geen informatie over uw pensioenuitkering en/of AOW-pensioen op Mijnpensioenoverzicht.nl, dan kunt u contact opnemen met uw pensioenuitvoerder en/of de SVB.
    Als u AOW ontvangt, krijgt u van de SVB aan het begin van ieder jaar een overzicht van het AOW-pensioen dat u het komende jaar gaat ontvangen. Dit overzicht is ook te vinden via Mijn SVB.
    Het overzicht van uw pensioenuitkering(en) ontvangt u via de pensioenuitvoerder(s). Dit zijn pensioenfondsen, pensioenverzekeraars en premiepensioen instellingen (PPI).
    Naast informatie over de pensioenuitkeringen, ontvangt u via uw pensioenuitvoerder(s) informatie over uw opgebouwde aanspraken op nabestaandenpensioen en over de toeslagverlening e.d.
    `
        },
        {
          name: `Blijft mijn AOW-bedrag altijd hetzelfde?`,
          description: `
    Nee, de hoogte van het AOW-pensioen wordt aangepast aan de loonontwikkeling.
    De hoogte van de AOW verschilt bovendien als u alleen woont of samen met iemand anders.
    Let er ook op dat uw AOW lager kan worden als u voor uw pensioengerechtigde leeftijd in het buitenland gaat wonen of werken.
    Meer informatie over de AOW vindt op de AOW-website van de SVB.
    `
        },
        {
          name: `Waarom wijkt het AOW-bedrag dat ik op Mijnpensioenoverzicht.nl zie af van het bedrag dat op mijn rekening wordt gestort?`,
          description: `
    Het AOW-bedrag dat u op Mijnpensioenoverzicht.nl ziet, wijkt af van het bedrag dat de Sociale Verzekeringsbank (SVB) maandelijks op uw bankrekening bijschrijft.
    Het AOW-bedrag dat u op Mijnpensioenoverzicht.nl ziet is uw bruto AOW-bedrag per jaar, inclusief vakantie-uitkering. Dit bedrag is inclusief uw eventuele inkomensondersteuning AOW.
    Het bedrag dat u iedere maand ontvangt, bestaat uit het AOW-bedrag en de inkomensondersteuning AOW. Een maal per jaar, in de maand mei, betaalt de Sociale Verzekeringsbank (SVB) de vakantie-uitkering.
    De inkomensondersteuning AOW is een extra bedrag boven op uw AOW-pensioen.
    Hoeveel inkomensondersteuning AOW u krijgt, hangt af van het aantal jaren dat u AOW-pensioen heeft opgebouwd.
    Ieder jaar bouwt u 2% AOW-pensioen op als u verzekerd bent geweest voor de AOW.
    U kunt maximaal 100% AOW-pensioen opbouwen.
    Per 1 juli 2018 is de inkomensondersteuning AOW maximaal € 24,93 bruto per maand. Voor meer informatie over de inkomensondersteuning , zie www.svb.nl.
    `
        },
        {
          name: `Wanneer gaat mijn AOW in?`,
          description: `
    De ingangsdatum van uw AOW hangt af van uw geboortedatum. In uw pensioenoverzicht ziet u uw AOW-leeftijd. Dit is op dit moment de wettelijke AOW-leeftijd. De wettelijke AOW-leeftijd is op dit moment maximaal 67 jaar en 3 maanden. Dit gaat veranderen. De AOW-leeftijd wordt vanaf 2022 gekoppeld aan de levensverwachting. Op www.svb.nl/aowleeftijd kunt u uw AOW-leeftijd berekenen.

    `
        },
        {
          name: `Verhoging AOW-leeftijd`,
          description: `
    De AOW-leeftijd gaat vanaf 2016 versneld in stappen omhoog naar 66 jaar in 2018 en 67 jaar in 2021. In 2022, 2023 en 2024 is de AOW-leeftijd 67 jaar en 3 maanden. Voor meer informatie en de berekening van uw AOW-leeftijd kunt u terecht op de website van de SVB.

    `
        },
        {
          name: `Moet ik mijn AOW zelf aanvragen?`,
          description: `
    Als u in Nederland woont, stuurt de Sociale Verzekeringsbank (SVB) u ongeveer vijf maanden voordat u de pensioengerechtigde leeftijd bereikt een brief hoe u AOW kunt aanvragen. Heeft u vier maanden voor uw pensioengerechtigde leeftijd niets ontvangen, neem dan zelf contact op met de Sociale Verzekeringsbank. Woont u in het buitenland? Dan moet u de AOW zelf aanvragen. Voor de juiste contactgegevens gaat u naar www.svb.nl.

    `
        },
        {
          name: `Ik ben gescheiden. Heeft dit gevolgen voor de gegevens die Mijnpensioenoverzicht.nl laat zien?`,
          description: `
    Ja, op deze website wordt rekening gehouden met echtscheiding. Wat hiervan zichtbaar is, is afhankelijk van de afspraken die u heeft gemaakt met uw ex-partner bij de scheiding en wat bekend is bij uw pensioenuitvoerder(s). U kunt niet zien wat u eventueel ontvangt van uw ex-partner.

    `
        },
        {
          name: `Ik heb met mijn ex-partner afwijkende afspraken gemaakt over mijn pensioen. Ik zie die niet terug in het overzicht. Wat moet ik doen?`,
          description: `
    Heeft u afwijkende afspraken (afzien van aanspraak of conversie) gemeld aan uw pensioenuitvoerder? Als dat het geval is, dan heeft uw pensioenuitvoerder de afspraken nog niet verwerkt. Neem in dat geval contact met uw pensioenuitvoerder op.

    `
        },
        {
          name: `Ik ben gescheiden en wil weten of ik pensioen zal ontvangen van mijn ex-partner. Is dit zichtbaar op Mijnpensioenoverzicht.nl?`,
          description: `
    Het is niet mogelijk om te laten zien of en hoeveel pensioen u eventueel van uw ex-partner zult ontvangen. Dit komt omdat het pensioenrecht tot aan pensionering bij degene ligt die het pensioen opbouwt. Dit geldt ook voor het deel dat eventueel aan een ex-partner toekomt.

    `
        },
        {
          name: `Ik ben gescheiden. Heeft dit gevolgen voor de gegevens die Mijnpensioenoverzicht.nl over het pensioen na overlijden laat zien?`,
          description: `
    Op Mijnpensioenoverzicht.nl is het nog niet mogelijk om rekening te houden met de invloed van scheiding op het pensioen na overlijden. Als u ooit bent gescheiden kan uw pensioen bij overlijden lager zijn dan in de tabel op deze website wordt getoond. Wilt u meer informatie over de gevolgen van een echtscheiding op uw pensioen? Kijk dan op www.pensioenkijker.nl.

    `
        },
        {
          name: `Waarom kan het AOW-pensioen niet op een andere leeftijd worden uitbetaald?`,
          description: `
    De AOW (Algemene Ouderdomswet) is een basispensioen van de overheid.
    Uw AOW-pensioen wordt vanaf uw AOW-leeftijd uitbetaald. Dit is wettelijk bepaald. U kunt hier niets aan veranderen.
    De AOW-leeftijd gaat in stappen omhoog. De leeftijd waarop u AOW ontvangt is afhankelijk van uw geboortedatum.
    Check uw AOW-leeftijd op de website van de Sociale Verzekeringsbank (SVB).
    `
        },
        {
          name: `Waarom wordt mijn pensioen lager als ik eerder stop met werken en mijn pensioen eerder uit laat betalen?`,
          description: `
    Wilt u eerder stoppen met werken en wilt u uw pensioen ook eerder laten uitbetalen? Dan kunt u aan uw pensioenuitvoerder vragen of u uw pensioendatum kunt vervroegen.
    De meeste pensioenuitvoerders bieden deze mogelijkheid. Vraag uw pensioenuitvoerder(s) welke keuzemogelijkheden u heeft.
    U ontvangt uw pensioen in dit geval waarschijnlijk gedurende een langere tijd. Uw ‘pensioenpot’ wordt daardoor verdeeld over meerdere jaren.
    In dat geval gaat het jaarlijks bruto pensioenbedrag omlaag en wordt het pensioen dat u maandelijks ontvangt ook lager. Vraag na bij uw pensioenuitvoerder(s) wat dit in uw situatie betekent.
    `
        },
        {
          name: `Waarom wordt mijn pensioen hoger als ik langer doorwerk en mijn pensioen later laat uitbetalen?`,
          description: `
    Wilt u langer doorwerken en wilt u uw pensioen ook later laten uitbetalen? Dan kunt u aan uw pensioenuitvoerder vragen of u uw pensioendatum kunt ‘uitstellen’. De meeste pensioenuitvoerders bieden deze mogelijkheid. Vraag uw pensioenuitvoerder(s) welke keuzemogelijkheden u heeft.
    U ontvangt uw pensioen in dit geval waarschijnlijk gedurende een kortere tijd. Uw ‘pensioenpot’ wordt daardoor verdeeld over een minder aantal jaren.
    In dat geval gaat het jaarlijks bruto pensioenbedrag omhoog en wordt het pensioen dat u maandelijks ontvangt ook hoger. Vraag na bij uw pensioenuitvoerder(s) wat dit in uw situatie betekent.
    `
        },
        {
          name: `Sommige pensioenbedragen zijn niet verschoven, hoe kan dat?`,
          description: `
    Wilt u uw pensioen op een andere leeftijd laten uitbetalen, maar veranderen uw pensioenleeftijd en het bijbehorende bedrag niet?
    Dan kan het zijn dat binnen uw pensioenregeling het veranderen van de pensioenleeftijd voor uitbetaling van uw pensioen niet mogelijk is.
    Neem hierover contact op met uw pensioenuitvoerder(s).
    `
        },
        {
          name: `Waarom kan ik de pensioenbedragen maar op drie verschillende pensioenleeftijden bekijken?`,
          description: `
    Mijnpensioenoverzicht.nl biedt geen uitgebreide pensioenplanner. Hier is bewust voor gekozen, omdat veel pensioenuitvoerders planners bieden op hun eigen website.
    Bij eventuele vragen over uw persoonlijke pensioenbedragen kunt u vaak beter direct contact opnemen met uw pensioenuitvoerder(s).
    Het onderdeel ‘Eerder stoppen of langer doorwerken’ biedt u een eerste inzicht in de gevolgen van uw persoonlijke keuzes.
    Denkt u serieus na over het wijzigen van de pensioenleeftijd waarop u uw pensioen wilt gaan ontvangen? Neem dan contact op met uw pensioenuitvoerder(s).
    `
        },
        {
          name: `Hoe is de privacy op Mijnpensioenoverzicht.nl gewaarborgd?`,
          description: `
    Mijnpensioenoverzicht.nl heeft toestemming van de overheid gekregen om gebruik te maken van DigiD. Deze code wordt ook door diverse overheidsinstellingen gebruikt om de privacy van gebruikers te waarborgen. Daarmee is de vertrouwelijkheid Mijnpensioenoverzicht.nl gegarandeerd.

    `
        },
        {
          name: `Maakt Mijnpensioenoverzicht.nl gebruik van cookies?`,
          description: `
    Mijnpensioenoverzicht.nl maakt gebruik van cookies. Deze cookies worden alleen ingezet voor het juist functioneren van de omgeving ('functionele cookies'). Daarom is er ook geen cookiebanner op de omgeving aanwezig. De gebruikte cookies zijn nodig om u de juiste informatie te tonen (sessie cookie) en voor het verdelen van het verkeer (load balancing).

    Mijnpensioenoverzicht.nl zet geen technieken in om gebruikers te volgen ('tracking/tracing') of om profielen op te bouwen ('profiling'). Op de servers van de omgeving wordt wel bijgehouden hoe vaak pagina's worden bezocht, dit is niet gekoppeld aan de gebruikers die de pagina's bezoeken. Wij doen dit om de omgeving te kunnen verbeteren.

    `
        },
        {
          name: `Kan ik ook zonder DigiD inloggen op Mijnpensioenoverzicht.nl`,
          description: `Nee, zonder DigiD heeft u geen toegang tot Mijnpensioenoverzicht.nl. Heeft u geen DigiD en wilt u wel informatie over uw pensioen? Neem dan contact op met uw pensioenuitvoerder(s).`
        },
        {
          name: `Heb ik in het buitenland toegang tot Mijnpensioenoverzicht.nl?`,
          description: `
    Ja, maar alleen als u een werkende DigiD gebruikersnaam en inlogcode heeft. Heeft u die niet, dan is toegang tot de website niet mogelijk.

    Let op: De speciale DigiD die u vanuit het buitenland gebruikt op uw AOW-gegevens via ‘Mijn SVB’ te bekijken geeft GEEN toegang tot Mijnpensioenoverzicht.nl.

    `
        },
        {
          name: `Slaat Mijnpensioenoverzicht.nl gegevens op?`,
          description: `
    Nee, de website is geen database. Na inloggen worden uitsluitend gegevens opgehaald van de pensioenuitvoerders en de SVB. Die worden getoond en na uitloggen niet opgeslagen. Er blijft dus niets ‘achter’.

    `
        },
        {
          name: `Worden de gegevens op Mijnpensioenoverzicht.nl gebruikt voor commerciële doeleinden?`,
          description: `
    Nee, daarvoor is de website uitdrukkelijk niet bedoeld. U bepaalt zelf of u uw persoonlijke pensioengegevens deelt met anderen, bijvoorbeeld een pensioenadviseur. Hiervoor kunt u uw gegevens downloaden in de vorm van een xml-bestand of een PDF-bestand.

    `
        },
        {
          name: `Worden de gegevens op Mijnpensioenoverzicht.nl aan derden ter beschikking gesteld?`,
          description: `
    Nee. De pensioen- en AOW-gegevens die u ziet op Mijnpensioenoverzicht.nl worden door de Stichting Pensioenregister niet aan derden ter beschikking gesteld. U kunt zelf wel besluiten om uw gegevens aan derden ter beschikking te stellen, maar dat is dan uw eigen keuze.

    `
        },
        {
          name: `Kunnen andere mensen bij mijn pensioengegevens?`,
          description: `
    Nee, alleen u kunt via deze website bij uw pensioengegevens komen. Dat is de reden dat u inlogt via DigiD.

    `
        },
        {
          name: `Ik heb een vraag over DigiD. Waar kan ik terecht voor meer informatie?`,
          description: `Voor meer informatie over DigiD en veelgestelde vragen kunt u terecht op https://www.digid.nl/vraag-en-antwoord.`
        },
      ]
    }
  },

  methods: {
    loadMoreResults() {
      if (this.lengthResults < 6) {
        this.lengthResults = this.lengthResults + 1
      }
    }
    // runSearch() {
    //   this.$search('John', this.faq, {
    //     keys: ['name']
    //   }).then(result => {
    //     this.results = result
    //   })
    // }
  },
  created() {
    this.$on('results', results => {
      this.results = results
      this.lengthResults = 3
    })
  }
}
</script>
<style>
input {
  border-radius: 100px;
  border: none;
  line-height: inherit;
  cursor: text !important;
}
input:focus {
  outline: none ;
  box-shadow: 0px 0px 1px 1px #00008b9e;
}
input::placeholder{
  color: darkblue;
}

/*.spr-tags .spr-tag:not(:last-child) {
  margin-bottom: 8px;
}*/

.spr-search-wrapper{
}
.spr-tags .spr-tag {
  margin-bottom: 8px;
}

.spr-tag {
  font-size: 16px;
  border-radius: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  background: red;
  width: fit-content;
  clear: both;
  cursor: pointer;
  line-height: 1.15;
}

.spr-tag-light {
  background: #a6d5ff;
  color: darkblue !important;

}

.spr-tag-dark {
  background: darkblue;
  color: white;
}

/*.list-complete-item {
  transition: all 1s;
  max-height: 300px;
}
.list-complete-enter, .list-complete-leave
{
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}
.list-complete-leave-active {
  max-height:0px;
  overflow: hidden;
}*/
</style>
