<template>
  <section class="container">
    <div>
      <searchcomp />
    </div>
  </section>
</template>

<script>
import Logo from '~/components/Logo.vue'
import Searchcomp from '~/components/Searchcomp.vue'

export default {
  components: {
    Logo,
    Searchcomp
  }
}
</script>

<style>
.container {
  margin: 0 auto;
  /*min-height: 100vh;*/
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  margin-top: 100px;
  margin-bottom: 100px;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
